.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px 340px ;
    gap: 10px 10px;
    
    
    
  }

  .grid div {

    background-color:  #5a7684;
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    

  }


