.grid  {
    display: grid;
    grid-template-columns: repeat(10, auto) ;
    grid-template-rows: repeat(6,auto) ;
    gap: 5px;
    background-color: lightgray;
    padding: 20px;
    height: 400px;
    width: 800px;
    margin: auto;
}
* {
    box-sizing: border-box;
    text-align: center;
}


div {

    display: flex;
    background-color: rgb(0, 119, 255);
    color: white;
    
    font-size: 18px;
    font-weight: bold;
 

}

.one { grid-row: 6 / 7 ; grid-column: 1 / 11; }

.two { grid-row: 2 / 3; grid-column: 1 / 8; }

.three { grid-row: 2 / 3; grid-column: 8 / 11; }

.four { grid-row: 3 / 4; grid-column: 1 / 4; }

.five { grid-row: 3 / 6; grid-column: 4 / 11; }

.six { grid-row: 4 / 5; grid-column: 1 / 4; }

.seven { grid-row: 5 / 6; grid-column: 1 / 4; }

.eight { grid-row: 1 / 2; grid-column: 1 / 11; }