h1{

    text-align: center;
    text-decoration: underline;
}

body{

    background-image: linear-gradient(to bottom , lightblue , lightpink);
}


div{


    font-family: Arial, Helvetica, sans-serif;
}


p.title{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}