* {
    margin: 0px;
    padding: 0px;
}


body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }

  .shape {
    position: relative;
    background-color: #009688;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 40px 80px;
    padding-left: 120px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .shape::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: white;
    transform: skewX(28deg);
}
  

