div {
    color: white;
    background-color: rgb(17, 149, 147);
    border-bottom: solid 3px rgb(20, 84, 84);
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    
}
 a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }