div {
    width: 400px;
    background-color: #eee;
    margin: 10px;
    padding: 10px;
    border: 10px;
    border-style: solid;

}
.element-2 {
    visibility: hidden;
}

.element-1 {

    border-color: #eee #eee #eee palevioletred;
    
}

.element-3 {

    border-color: #eee #eee #eee rgb(39, 136, 127);
    
}