* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6,auto);
    gap: 20px;
    margin: auto;
    
  }

  div {

    display: flex;
    align-items: center;
   
    background-color: rgb(200, 17, 108);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    
   
  }

  .three {
    grid-area: 6 / 1 / 7 / 2;
  }
  .four {
    grid-area: 6 / 2 / 7 / 3;
  }